# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.playground/*
!*.playground/Contents.swift
!*.playground/contents.xcplayground

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/

# macOS
.DS_Store
*.swp
*~.nib

# IDEs
*.xcuserstate
*.xcuserdatad
xcuserdata/
